@import "./styles/variables.scss";

.pk-logo {
  border-radius: 8px;
  &-- {
    &S {
      height: 32px;
      width: auto !important;
    }
    &M {
      width: auto !important;
      height: 52px;
    }
    &L {
      width: auto !important;
      height: 84px;
    }
    &RED * {
      fill: $cta;
    }
    &GREEN * {
      fill: $tertiary;
    }
  }
}

// Mobile landscape
@media screen and (max-width: 768px) {
  .pk-logo {
    &--M {
      height: 40px;
    }
    &--L {
      height: 60px;
    }
  }
}

// Mobile portrait
@media screen and (max-width: 480px) {
  .pk-logo {
    &--S {
      height: 28px;
    }
    &--M {
      height: 32px;
    }
    &--L {
      height: 48px;
    }
  }
}
